.container {
    display: flex;
    justify-content: space-around;
}

.item {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}
